/bin
/obj

/.vs/CarRentalAPI/FileContentIndex
/.vs/CarRentalAPI/v17/.suo
/.vs/CarRentalAPI/v17/.suo
/.vs/CarRentalAPI/DesignTimeBuild/.dtbcache.v2
/.vs/CarRentalAPI/FileContentIndex/66f512b3-6d88-47a0-b8d8-4d7e364225f8.vsidx
/.vs/CarRentalAPI/FileContentIndex/48de9285-5891-4b62-997a-10b7550bcbf8.vsidx
/.vs/CarRentalAPI/v17/.futdcache.v2
/.vs/ProjectEvaluation/carrentalapi.metadata.v6.1
/.vs/ProjectEvaluation/carrentalapi.projects.v6.1
/.vs/CarRentalAPI/FileContentIndex/bcaddef5-f896-4009-b49d-dfc1aace8f41.vsidx
*.testlog
*.manifest

/.vs/ProjectEvaluation/carrentalapi.metadata.v7.bin
/.vs/ProjectEvaluation/carrentalapi.projects.v7.bin
/Controllers/RolesController.cs
