<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">

	<extensions>
		<add assembly ="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
		<target xsi:type="File" name="log-file" fileName="c:\CarRentalAPILogs\log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
		<target xsi:type="File" name="error-file" fileName="c:\CarRentalAPILogs\ERROR-log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
		<target xsi:type="File" name="time-request-file" fileName="c:\CarRentalAPILogs\time-request-log-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Warning" writeTo="log-file" />	
		<logger name="*" minlevel="Error" writeTo="error-file" />
		<logger name="CarRentalAPI.CarRentalAPI.Middlewares.RequestTimeMiddleware" minlevel ="Warning" 
				writeTo="time-request-file"/>
	</rules>
	
</nlog>