<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">

	<extensions>
		<add assembly ="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
		<target xsi:type="File" name="logFile" fileName="c:\CarRentalAPILogs\appNLog-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
		<target xsi:type="File" name="errorFile" fileName="c:\CarRentalAPILogs\appERRORLog-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
	</targets>

	<rules>
		<logger name="CarRentalAPI.*" minlevel="Trace" writeTo="console" />
		<logger name="CarRentalAPI.*" minlevel="Warning" writeTo="logFile" />	
		<logger name="CarRentalAPI.*" minlevel="Error" writeTo="errorFile" />
	</rules>
	
</nlog>